.deleteProductContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
}

.deleteProductContainer h3 {
    color: #353069;
    display: flex;
    justify-content: center;
}

.deleteProducts {
    display: grid;
    grid-template-columns: auto;
    gap: 2px;
    background-color: white;
}

.deleteProducts > div {
    background-color: white;
    text-align: center;
    font-size: 14px;
}
.deleteProducts{
    max-height: 650px;
    overflow: auto;
}
.deleteProductData{
    display: grid;
    grid-template-columns: 20px  64px 120px 50px 60px 70px 70px auto 110px;
    gap: 2px;
    background-color: #ececec;
    text-align: center;
}
.deleteProductData p{
    color: #353069;
    font-weight: bold;
} 

.deleteProduct p{
    color: #353069;
}

.deleteProduct{
    display: grid;
    grid-template-columns: 20px  64px 120px 50px 60px 70px 70px auto 110px;
    gap: 2px;
    background-color: white;
}

.deleteProduct > div {
    background-color: #ececec;
    text-align: center;
    /* padding: 20px 0; */
    font-size: 14px;
}
.deleteProduct div {
    display: flex;
    align-items: center;
}

.deleteProduct img{
    width: 60px;
    height: 60px;
    padding: 2px;
}

.productDescription{
    max-height: 85px;
    overflow: auto;
}

.productDelete {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.productDelete button{
    background-color: red;
    width: 70px;
    height: 30px;
    align-items: center;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;   
}

.productDelete button:active {
    box-shadow: 5px 5px 15px 8px red;
  }