.containerRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 4% 0%;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 400px;
    height: 800px;
    padding: 2%;
    background-color: #ececec;
    box-shadow: 5px 5px 15px 8px #4c4974;
}

.register h2{
    font-size:30px;
    color: #4c4974;
}

.register input {
    height: 40px;
    width: 300px;
    color: #4c4974;
    border: 2px solid #ececec;
    border-radius: 4px;
    font-size: 20px;
    padding-left: 10px;
}

.register input:focus {
    box-shadow: 5px 5px 15px 5px #4c4974;
  }

.register-Button {
    height: 40px;
    width: 300px;
    background-color: #4c4974;
    color: white;
    border: #4c4974;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;

}

.register-Button:active {
    box-shadow: 5px 5px 15px 8px #4c4974;
  }

.errorMesage{
    min-height: 40px;
    min-width: 300px;
    display: flex;
}

.errorMesage p {
    color: red;
    font-size: 18px;
    margin: 0px;
}

.loginP{
    color: #4c4974;
}
.login-Button {
    height: 35px;
    width: 180px;
    background-color: #ececec;
    color: #4c4974;
    border:5px solid #4c4974;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.login-Button:active {
    box-shadow: 5px 5px 15px 8px #4c4974;
  }