.getProductContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
}

.getProductContainer h3 {
    color: #353069;
    display: flex;
    justify-content: center;
}

.getProducts {
    display: grid;
    grid-template-columns: auto;
    gap: 2px;
    background-color: white;
}

.getProducts > div {
    background-color: white;
    text-align: center;
    font-size: 14px;
}
.getProducts{
    max-height: 650px;
    overflow: auto;
}
.productData{
    display: grid;
    grid-template-columns: 20px  64px 120px 50px 60px 70px 70px auto;
    gap: 2px;
    background-color: #ececec;
    text-align: center;
}
.productData p{
    color: #353069;
    font-weight: bold;
} 

.product p{
    color: #353069;
}

.product{
    display: grid;
    grid-template-columns: 20px  64px 120px 50px 60px 70px 70px auto;
    gap: 2px;
    background-color: white;
}

.product > div {
    background-color: #ececec;
    text-align: center;
    /* padding: 20px 0; */
    font-size: 14px;
}

.product img{
    width: 60px;
    height: 60px;
}

.productDescription{
    max-height: 85px;
    overflow: auto;
}
