.boxToys {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: white; */
    gap: 1.5rem;
    padding: 1em;
  }
    
  
  .boxToy {
    width: 250px;
    height: 480px;
    margin: 6px;
    background-color: #ececec;
    text-align: center;
    font-size: auto;
    display: flex;
    flex-direction: column;
  }
  
  
  .boxToy:hover {
    transform: scale(1.1);
    transition: all 0.2s;
    box-shadow: 10px 10px 10px #4c4974;
  }
  
   
  .boxToy img{
    display: block;
    margin: 5px;
    width: 240px;
    height: 300px;
  }
  
  .boxToy h4{
    margin-top: 5%;
    color: #353069;
  
  }
  
  .boxToy p{
    margin-top: 5%;
    color: #353069;
  }
  .boxToyAdd{
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
  .boxToyAdd button{
    color: #353069;
    background-color: #efefef;
    border: 2px solid #353069;
    border-radius: 5px;
    font-size: 18px;
    height: 30px;
    width: 160px;
    cursor: pointer;
  }
  .boxToyAdd button:hover{
    color: #efefef;
    background-color: #353069;
  }